<div>

	<form name="searchMovie">
		<input type="search" required placeholder="movie title to find" ng-model="movieTitle" /> 
		<button type="submit" value="Search" ng-click="search(movieTitle, 1)" class="next btn btn-warning btn-sm">Search</button>
		</br>
		<div>
			<div>
				<table class="table table-striped table-hover ">
					<thead>
						<tr>
							<th>Id</th>
							<th>Title</th>
							<th>Poster</th>
							<th>Vote Average</th>
							<th>Add to collection</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="movie in movies.results">
							<td>{{movie.id}}</td>
							<td>{{movie.title}}</td>
							<td><img alt="nothing"
								ng-src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}"
								height="42" width="42"></td>
							<td>{{movie.vote_average}}</td>
							<td><button type="submit" class="btn btn-success" ng-click="add(movie.id)">Add To collection</button></td>
						</tr>
				</table>
			</div>
			<div>
				<button type="submit" ng-click="search(movieTitle, movies.page-1)" ng-show="movies.page > 1" class="previous btn btn-info">← Previous</button>
				<button ng-show="movies.page <= 1" class="previous btn btn-info disabled">← Previous</a>
				<button type="submit" ng-click="search(movieTitle, movies.page+1)" ng-show="movies.page < movies.total_pages" class="next btn btn-info" style="float: right;">Next →</button>
				<button ng-show="movies.page >= movies.total_pages" class="next btn btn-info disabled" style="float: right;">Next →</button>
			</div>
		</div>
	</form>
	
</div>